
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    padding: 9px;
    width: 70%;
}

.even {
    background-color: #b5b5b5;
    color: white;
}

.odd {
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .line {
        width: 100%;
    }
}
